$page-width: 960px

$header-height: 100px

$color-main: #f1f1f1
$color-accent: #fff600

$color-links: #b72706

$font-family: "Lucida Sans", Arial, Helvetica, sans-serif
$font-size: 15px


//mixins


=font-size($addPx)
  font-size: $font-size + $addPx

//tags
body
  background-color: $color-main
  font-family: $font-family
  +font-size(0)

a
  text-decoration: none
  text-transform: uppercase
  color: #000

a:hover
  text-decoration: underline


//classes
.content
  width: $page-width


.icon-img
  vertical-align: -40%
  margin-right: 5px

.header
  background-color: $color-accent
  height: $header-height
  +font-size(-3px)

  //logo
  .logo
    font-size: 20px
    padding-left: 10px

    img
      +icon-img

    a:hover
      text-decoration: none


  .main-menu
    text-align: center

    a:hover
      color: $color-links
      font-weight: bold

//slider
.slider
  background-color: #e6e6e6
  height: 500px
  padding-top: 21px

  .slider-content
    width: $page-width + 40px


  .element
    background-color: #fff
    height: 430px
    width: 230px
    box-shadow: 0 6px 0 #c6c6c6
    color: #50504f

    img
      height: 368px
      width: 230px
      overflow: hidden
      margin-bottom: 10px

    .title
      font-weight: bold
      padding-left: 10px

    .description
      +font-size(-3px)
      margin: 0 0 5px 10px

.works-btn
  background-color: #000
  height: 54px
  width: 360px
  margin-top: -27px
  text-decoration: none
  color: $color-accent
  border-radius: 5px

.titles
  background-color: #6b6b6b

  img
    +icon-img

  .a-title
    color: $color-accent
    margin-bottom: 10px


  .a-content
    font-size: $font-size - 3px
    color: #e6e6e6
    line-height: 24px
    word-spacing: 6px


.body-content
  .title
    color: #0f0f10
    font-size: $font-size + 3px

  .body-text
    color: #50504f
    font-size: $font-size - 3px
    line-height: 24px

    span
      font-style: italic

  a
    color: #b72706
    text-decoration: none
    font-weight: 600
    font-style: normal

  a:hover
    text-decoration: underline


.footer
  background-color: #3c3c3c
  border-top: 1px solid #000
  color: #c0c0c0

  .title
    color: #fff
    height: 24px
    font-size: $font-size
    line-height: 24px

  a
    text-decoration: none
    font-size: $font-size - 2px
    color: #c0c0c0


  a:hover
    text-decoration: underline

  .footer-top
    height: 6px
    background-color: $color-accent

  .newsletter
    height: 55px
    background-color: #1f1f1f
    border: 1px solid #000000
    color: #fff

  input[type='text']
    font-size: 15px
    font-style: italic
    padding-left: 5px
    line-height: 24px
    border: 0

  input[type='submit']
    background-color: $color-accent
    height: 26px
    margin-left: 1px
    padding: 0 5px
    border: 0
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px

  .author
    color: $color-accent

  .menu
    padding: 0
    margin: 0


    .item
      padding-left: 0
      min-height: 24px

.flex-c
  background-color: green

.flex-d
  background-color: magenta
  text-align: center